#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

  .ant-layout .ant-layout-header svg{
    font-size: 30px;
    margin-left: 19px;
  }

  /* .group {
    margin-left: 50px;
  } */

  .ant-layout .d-flex  .buyanything{
     color: white;
     font-size: 23px;
  }

  .ant-layout .d-flex  .icon {
    color: white;
    font-size: 23px;
    margin-top: 20px;
  }