.ant-layout .ant-collapse-content-box .ant-form-item-control .ant-select{
    width: 200px;
}

.ant-layout .ant-col .ant-form-item-children input{
    width: 200px
}

.ant-layout .ant-form .ant-row .ant-form-item-control{
    width: 216px;
}