.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #407;
}

.react-slideshow-container + div.indicators {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    display: none;
  }

  AppBar{
    background-color: #407;
  }
  @media only screen and (min-width: 300px) and(max-width:500px) {
    [class*="bg-primary "],
    [class*="submenu"],
    .bg-primary {
      display: flex;
    }
    .block {
      text-align: center;
    }
  }
 