.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #407;
}

.react-slideshow-container + div.indicators {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    display: none;
  }

  AppBar{
    background-color: #407;
  }